#users tr td:last-child, #artist_list tr td:last-child{
  text-align :center;
} 
#artist_list tr td{
  /*width: 50%;*/
  /*width: 40%;*/
  font-size: 14px;
}
#artist_list tr td:nth-child(1){
	text-align: center;
}
#artist_list tr td:nth-child(4){
  width: 35%;
}
.albumtb tr td:nth-child(3){
  width: 20% !important;
}
.artisttb tr td:nth-child(5){
  text-align: center;
}
.albumtb tr td:nth-child(6){
  text-align: center;
}
.usertb tr td:nth-child(5){
  text-align: center;
}

#artist_list tr td:nth-child(3){
  width: 15%;
  padding-left: 1% !important;
}
.card-user .title{
  margin-bottom : 0px !important;
  margin-top : 0px !important;
}
.categorylist-name {
    line-height: 1.5;
    font-size: 24px;
}
.user_admin_content h5{
  margin-bottom : 50px;
  margin-top : 50px;
}
.user_form_submit{
  margin-top : 50px;
  margin-bottom : 50px;
}
/* Custom Code Start */
.add_artist .form-group .col-md-6{
  padding: 0px;
}
#artist_list .artist_image{
  width : 150px;
}
.artist_edit_form .artist_image{
  width : 150px;
} 
.artist_edit_form #image{
  display: inline-block;
  /*width: 40%;*/
}
#confirmationDelete .modal-header{
    background-color: #ff3547;
    color: #ffffff;
}
#confirmationDelete .btn{
  border-color: #ff3547 !important;
}
#confirmationDelete .btn:hover {
    text-decoration: none;
    background-color: #ff3547 !important;
    color: #ffffff !important;
}
.artist_edit_form .editlink{
  margin-left : 20px;
  margin-right : 20px;
}
.tags_result, .items_result{
    position: absolute;
    width: 100%;
    left: 0;
    top: 38px;
    border: 3px solid #e8e7e7;
    z-index: 1000;
    background: #fff;
    display: none;
}
.tags_result ul,.items_result ul{
  margin: 0px;
  list-style: none; 
}
.tags_result li,.items_result li{
  padding: 10px;
    border-bottom: 1px solid #e8e7e7;
}
.add_tag_ajax{
  position: absolute;
    right: -82px;
    top: 0px;
    border: 1px solid #ced4da;
    padding: 5px;
    transition: width 0.5s;
    display: none; 
    cursor: pointer;
}
.add_tag_ajax:hover{
  background-color : #000 !important;
  color : #fff !important;
}
.display_tags ul li,.display_items ul li{
  width: auto;
    display: inline-block;
    list-style: none;
    padding: 10px 20px;
    background: #6d6d6d;
    position: relative;
    margin-right: 15px;
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
}
.display_tags ul li .close_tag, .display_items ul li .close_tag{
  position: absolute;
    right: -13px;
    top: -16px;
    font-size: 12px;
    background: #656464;
    padding: 1px 6px;
    color: #fff;
    border-radius: 50%;
    border: 2px solid #ababab;
}

/* ------Atrist add style for music---- */
.artists_result{
  position: absolute;
    width: 100%;
    left: 0;
    top: 38px;
    border: 3px solid #e8e7e7;
    z-index: 1000;
    background: #fff;
    display: none;
}
.artists_result ul{
  margin: 0px;
  list-style: none; 
}
.artists_result li{
  padding: 10px;
    border-bottom: 1px solid #e8e7e7;
}
.add_artist_ajax{
  position: absolute;
    right: -100px;
    top: 0px;
    border: 1px solid #ced4da;
    padding: 5px;
    transition: width 0.5s;
    display: none; 
    cursor: pointer;
}
.add_artist_ajax:hover{
  background-color : #000 !important;
  color : #fff !important;
}
.display_artists ul li{
  width: auto;
    display: inline-block;
    list-style: none;
    padding: 10px 20px;
    background: #6d6d6d;
    position: relative;
    margin-right: 15px;
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
}
.display_artists ul li .close_tag{
  position: absolute;
    right: -13px;
    top: -16px;
    font-size: 12px;
    background: #656464;
    padding: 1px 6px;
    color: #fff;
    border-radius: 50%;
    border: 2px solid #ababab;
}
.img-container{
  position:relative;
  display:inline-block;
}
.img-container .overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.8);
  padding:25% 0%;
  opacity:0;
  transition:opacity 500ms ease-in-out;
  cursor: pointer;
}
.img-container:hover .overlay{
  opacity:1;
}
.overlay span{
  position:absolute;
  top:60%;
  left:50%;
  transform:translate(-50%,-50%);
  color:#fff;
}


table tr td:first-child.col-1{
  width:12%;
}
#artist_list table td{
  padding: .75rem !important;
}
#video_list_length select.form-control,#artist_list_length select.form-control{
  float: left;
}
#artist_list td:nth-child(3){
  /*padding: 0;*/
}
#artist_list .img-thumbnail{
    width: 100%;
    height: 85px;
}
#music_list .img-thumbnail{
    width: 100%;
    height: 170px;
}
#play_lists img{
    width: 100%;
    height: 85px;
}
#play_lists tr td:last-child{
    display: block;
    list-style-type: none;
    padding: 20px;
    margin: 0px;
    border-bottom: none;
}
#play_lists tr td{
  font-size: 14px;
}

#video_list_length select.form-control, #play_lists_length select.form-control {
    float: left;
}
#video_list .img-thumbnail {
    width: 100% !important;
    height: 85px !important;
}
#video_list tr td:last-child{
    display: block;
    list-style-type: none;
    padding: 20px;
    margin: 0px;
    border-bottom: none;
}
#news_list_length select.form-control{
    float: left;
}
#news_list .img-thumbnail{
    width: 100%;
    height: 85px;
}
#news_list tr td{
  font-size: 14px;
}
#banner_list tr td{
  font-size: 14px;
}
#video_list tr td{
  font-size: 14px;
}
.users tr td{
  font-size: 14px;
}
#users img {
    width: 100%;
    height: 85px !important;
}
#banner_list .img-thumbnail{
    width: 100% !important;
    height: 85px !important;
}
#banner_list tr td:last-child{
	display: block;
    list-style-type: none;
    padding: 20px;
    margin: 0px;
    border-bottom: none;
}
#artist_list_filter label{
  float: right;
}
#banner_list_filter label{
  float: right;
}
#play_lists_filter label{
  float:right;
}
.playlist-name{
  line-height: 1.5;
  font-size: 24px;
}
.newslist-name{
  line-height: 1.5;
  font-size: 24px;
}
.delete_link {
    border: none;
    background: transparent;
    cursor: pointer;
}
#news_list tr td:last-child {
    display: block;
    list-style-type: none;
    padding: 20px;
    margin: 0px;
    border-bottom: none;
    text-align: center;
}
#confirmationDelete .modal-footer button{
  cursor: pointer;
}
#confirmationDelete .btn-danger{
  border-color: #FF4A55 !important;
  border-width: 2px !important;
}
.modal .modal-content .modal-footer{
	justify-content: flex-end !important;
    padding: 15px;
}
.modal-footer .btn {
    margin: 5px !important;
}
#news_list_filter label{
  float:right;
}
#video_list_filter label{
  float: right;
}
#users_filter label{
  float:right;
}
#music_list_filter label {
  float: right;
}
#artist_list_filter input[type=search] {
  width: auto;
}
#artist_list tr td:first-child{
  /*width:35%;*/
}
#artist_list{
  /*width:35%;*/
  font-size: 15px;
}
.img-container,.img-container img{
  width: 100%;
  height: 170px;
}
div.card-body audio{
    position: relative;
    left: 1%;
    width: 100%;
    bottom: 0px;
    padding-right: 4px;
}
.card-body{
    padding-bottom: 3.5rem;
}
.heading-albums{
  padding: 0px !important;
}
.img-height{
  /*height: 190px;*/
}
.album-list{
  float: left;
  width: 50%;
  min-height: 500px;
}
.col-padding{
  padding-right: 0px;
  /*padding-left: 0px;*/
}
.img-padding{
  padding-right: 10px;
  padding-left: 10px;
}
.img-padding img{
  height: 150px !important;
  width: 100%;
  margin-top: 9px;
}
.cardbody-padding{
  padding-bottom: 12px !important;
}
.artist-name{
  line-height: 1.5;
  font-size: 24px;
}
.form-control{
    height: 40px !important;
}
.card .border-header{
  /*background: linear-gradient(to bottom, #f73c47 89%, #d0191b 100%) !important;*/
  border-bottom: 2px solid #f73c47 !important;
  padding-bottom: 13px !important;
  font-size: 19px;
}
.user-name{
  line-height: 1.5;
  font-size: 24px;
}
.add_artist label{
    font-size: 15px;
    font-weight: 300;
}
#artist_list tr td:last-child{
    display: block;
    list-style-type: none;
    padding: 20px;
    margin: 0px;
    border-bottom: none;
}
#users tr td:last-child{
    display: block;
    list-style-type: none;
    padding: 20px;
    margin: 0px;
    border-bottom: none;
}
#users_length select.form-control, #play_lists_length select.form-control {
    float: left;
}
.libtnlink i{
  font-size: 18px !important;
  color: #000000;
}
.update_artist_btn{
  color: inherit !important;
}
.txtbio{
  height: auto !important;
}
.videolist-name {
    line-height: 1.5;
    font-size: 24px;
}
.taglist-name {
    line-height: 1.5;
    font-size: 24px;
}

.album-listborder{
    background: linear-gradient(to bottom, #333 20%, #000000 100%);
    padding-bottom: 7px !important;
    padding-top: 7px !important;
}
.album-listborder strong{
  color: #FFFFFF !important;
}
.album-list .table{
  border: none;
}
.album-listback{
  /*background-color: #F8F9F6!important;*/
}
.vertical-td{
  vertical-align: top !important;
}
#artist_list td {
    padding: 3px !important;
}
li.libtnlink{
  padding: 4px;
  text-align: center;
}
#banner_list_length select.form-control {
    float: left;
}
.card .table tbody td:last-child, .card .table thead th:last-child{
  border: none;
}
.table>thead>tr>th{
  text-align: center !important;
  font-weight: bold;
  color: #000000;
  font-size: 13px; 
}
span.album-listheader{
  padding: 8px;
  position: absolute;
}
.albumtb tr td:nth-child(4){
  text-align: center;
}
.text-success,.text-warning,.text-danger{
  color: #000000 !important;
}
a.readmore:focus {
    outline: none;
}
.myModal button{
  cursor: pointer;
}
.myModal button.close:focus{
  outline: none;
}
.myModal .modal-content .modal-header {
    padding-top: 0px !important;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    border-bottom: 1px solid #e9ecef !important;
}
.myModal .modal-content .modal-body+.modal-footer {
    padding-top: 15px !important;
    border-top: 1px solid #e9ecef !important;
}
.musictitle{
  position: relative;
  padding-bottom: 10px;
  font-size: 11px;
  font-weight: bold;
  min-height: 70px;
  padding-top: 10px;
}
.imgheight,.imgheight img{
  height: 270px !important;
}
.music-list{
    /*box-shadow: 1px 2px 5px 0px #888888;*/
    /*box-shadow: 3px 2px 3px 0px #ff3333;*/
    box-shadow: 0px 2px 6px 0px #2B2C23;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 0 15px 0 15px;
    transition:all .2s ease-in-out;
}
.music-list:hover{
	box-shadow: 3px 2px 3px 3px #2B2C23;
	transform:scale(1);
}
.eraseimg{
  height: 30px !important;
  width: 30px !important;
  transition:all .2s ease-in-out;
  position: relative;
  float: right;
  right: -11px;
  top: 4px;
  margin-bottom: 12px;
}
a.delimg{
  opacity: 1 !important;
}
.eraseimg:hover{
    transform:scale(1.1);
    height: 32px !important;
    width: 32px !important;
}
.music-list .fa-pencil{
  color: red !important;
  /*padding-left: 25px;*/
}
i.fa-pencil:hover{
  color: red;
}
.music-list .btn-warning{
  border: none !important;
}
.music-list .btn{
  display: block !important;
  padding: 0px !important;
}
.musictitle .btn{
  display: inline-block !important;
}
.card .table thead th:last-child{
  display: block !important;
}
.table th{
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
}
.sidebar .nav li .nav-link i, body>.navbar-collapse .nav li .nav-link i{
  margin-right: 0px !important;
}
#confirmationDelete .modal-header{
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px !important;
    border-bottom: 1px solid #e9ecef !important;
}
#confirmationDelete .modal-body h4{
  margin: 0 !important;
  font-size: 18px !important;
}
#confirmationDelete .modal-title,.modal-body {
    margin-bottom: 0;
    line-height: 1 !important;
    font-size: 18px !important;
    margin: 0 !important;
}
#confirmationDelete .close{
  cursor: pointer;
  display: none;
}
.card .card-image{
  height: auto !important;
}
/*.main-panel .breadcrumbs{
	display: none !important;
}*/
.logouticon{
	padding: 10px 0px;
    display: block;
    line-height: 30px;
}
.main-panel .breadcrumbs{
	max-width: 100% !important;
	width: inherit !important;
	padding: 0px !important;
}
.card{
	margin-bottom: 0px !important;
}

.navbar-top {
    border-bottom: none !important; 
    /*box-shadow: 3px 0px 1px rgba(0,0,0,0.8);*/
    box-shadow: none;
}
.card .card-title{
	font-weight: 600 !important;
}

/*----------------------------*/
 .bulk_video_import .table.table-striped tr td,.bulk_video_import .table.table-striped tr th{
 	width: 13%;
 }
 .bulk_video_import .common_fields{
 	margin-top: 20px;
 	margin-bottom: 20px;
 }
 .music_data .input-group-text{
 	margin-right: 10px;
 }
 .ui-state-default{
 	border: none;
 	background-color: transparent;
 }
 #sortable #items li{
 	    display: inline-block;
    width: 24%;
    position: relative;
 }
 #sortable #items{
 	width: 100%;
 	position: relative;
 }
 #user_play_lists tr th.hidden,#user_play_lists tr td.hidden{
 	display: none;
 }
 #video_list_wrapper > .row:first-child,
 #artist_list_wrapper > .row:first-child,
 #play_lists_wrapper > .row:first-child,
 #news_list_wrapper  > .row:first-child,
 #banner_list_wrapper > .row:first-child,
 #users_wrapper > .row:first-child,
 #announcement_list_wrapper > .row:first-child,
 #promocodes_list_wrapper > .row:first-child{
 	height : 90px;
 }
 #video_list_wrapper > .row:first-child > div:first-child, 
 #artist_list_wrapper > .row:first-child > div:first-child,
 #play_lists_wrapper > .row:first-child > div:first-child,
 #news_list_wrapper  > .row:first-child > div:first-child,
 #banner_list_wrapper > .row:first-child > div:first-child,
 #users_wrapper > .row:first-child > div:first-child,
 #announcement_list_wrapper > .row:first-child > div:first-child,
 #promocodes_list_wrapper > .row:first-child > div:first-child{
 	position: absolute;
    right: 0;
    width: auto;
 }
 #video_list_wrapper > .row:first-child > div:last-child,
 #artist_list_wrapper > .row:first-child > div:last-child,
 #play_lists_wrapper > .row:first-child > div:last-child,
 #news_list_wrapper  > .row:first-child > div:last-child,
 #banner_list_wrapper > .row:first-child > div:last-child,
 #users_wrapper > .row:first-child > div:last-child,
 #announcement_list_wrapper > .row:first-child > div:last-child,
 #promocodes_list_wrapper > .row:first-child > div:last-child{ 
 	position: absolute;
    width: auto;
    right: 40%;
 }
 .video_bulk_action{
 	position: absolute;
 }
 .apply_action{
    padding: 6px 30px;
    border: 2px solid #616161;
    margin-left: 15px;
    cursor: pointer;
    font-size: 19px;
 }
 .playlist_trashed tbody tr td:first-child,
 #banner_list tbody tr td:first-child,
 .news_trashed_data tbody tr td:first-child,
 #users_wrapper tbody tr td:first-child,
 #announcement_list_wrapper tbody tr td:first-child
 {
 	text-align: center;
 }
 #promocodes_list tr td{
 	text-align: center;
 }
 #manual_payment_list tr td{
 	text-align: center;
 }
 #manual_payment_list tr td:last-child{
 	display: inline;
 }
 #manual_payment_list .libtnlink{
	list-style: none;
 }
 table.user_subscription_history{
 	margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
 }
 table.user_subscription_history th,table.user_subscription_history td{
 	text-align: center;
 	padding: 10px;
 }
 .user_help_history{
 	    border: 1px solid #d1d1d1;
    padding: 10px;
 }
 .user_help_history h4{
 	margin-top: 0px;
 	margin-bottom: 30px;
 }
 .help_section p.user {
 	font-weight: 600;
 }
 .help_section p.user lable {
    font-weight: bold;
    margin-right: 20px;
}
.help_section .vibez{
	text-align: right;
	font-weight: 600;
}
#sortable.music_drag #items li{
	width: 90%;
	margin: 0 auto;
	display: block;
}
#sortable.music_drag #items li .music-list{
	padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    text-align: left;
}
#sortable.music_drag #items li .music-list .img-container{
	width: 20%;
    display: inline-block;
    vertical-align: top;
}
#sortable.music_drag #items li .music-list .musictitle audio{
	position: absolute;
	bottom : 0px;
}
#sortable.music_drag #items li .music-list .musictitle .text-left{
	font-size: 24px;
}
#sortable.music_drag #items li .music-list .musictitle .text-right .fa-pencil{
	font-size: 24px;
}
#sortable.music_drag #items li .music-list .musictitle{
	display: inline-block;
    width: 55%;
    vertical-align: top;
    min-height : 160px;
    margin-left: 5%;
}
#sortable.music_drag #items li .music-list .eraseimg{
	top	: 9px;
	right : 9px;
}
#sortable.music_drag #items li .music-list .fa.fa-arrows{
	position: absolute;
    right: 62px;
    top: 39%;
    font-size: 2em;
    cursor: pointer;
}
.music-list:hover {
    box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.5);
    transform: scale(1);
}
.playlist_music_drag{
	width: 70%;
	margin: 0 auto;
}
#sortable.playlist_music_drag #items li{
	padding: 10px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    position: relative;
    margin-bottom: 20px;
    width: 90%;
}
#sortable.playlist_music_drag #items .fa.fa-arrows{
	position: absolute;
    right: 20px;
    top: 13px;
}
.album_bulk_import tr td input,
.album_bulk_import tr td select,
.album_bulk_import tr td textarea{
	width: 100% !important;
	max-width: 100%;
}
.album_bulk_import tr th:nth-child(even){
	border-bottom : 1px solid #E9ECEF !important;
}
.album_bulk_import tr th:nth-child(even),
.album_bulk_import tr td:nth-child(even){
	display:table-cell !important;
	width: 15%;
	
}
.album_bulk_import tr td{
	vertical-align: top !important;
}
.album_bulk_import tr td .select2-container .select2-selection--single{
	height : 40px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 40px;
}
.album_bulk_import tr th:nth-child(3),
.album_bulk_import tr td:nth-child(3),
.album_bulk_import tr th:nth-child(5),
.album_bulk_import tr td:nth-child(5){
	width: 22%;
}
#promocodes_list .libtnlink{
	list-style: none;
}
.suspend_user_form button.btn-danger{
	margin-right: 20px; 
}
.push_notification_form button{
	margin-right: 20px;
}
.update_musics_bulk_table{
	margin: 0 auto;
	clear: both;
	width: 90%;
}
.update_musics_bulk_table .edit select{
	width: 100%;
	max-width: 100%;
}
.update_musics_bulk_table tr td,.update_musics_bulk_table tr th{
	padding: 10px;
	text-align: center;
}
.update_musics_bulk_table tr td .edit{
	display: none;
}
.update_musics_bulk_table img{
	width : 60px;
}
.update_musics_bulk .update_bulk_music{
	display: none;
	cursor: pointer;
}
.update_musics_bulk .edit_bulk_music{
	margin-right: 20px;
	cursor: pointer;
}
.update_musics_bulk .music_update_section{
	height: 80px;
}
.dashboard_admin .small-box{
	box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    position: relative;
    margin-bottom: 40px;
    border-radius: 6px;
}
.dashboard_admin .small-box-footer{
	display: block;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,.1);
}
.dashboard_admin .small-box h3 {
    font-size: 38px;
    font-weight: 700;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
    color: #fff;
}
.dashboard_admin .small-box p {
    font-size: 15px;
    color: #fff;
}
.dashboard_admin .small-box>.inner {
    padding: 10px;
}
.dashboard_admin .small-box .icon {
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0,0,0,.15);
}
.dashboard_customer_request,
.dashboard_albums,
.dashboard_videos,
.dashboard_musics{
	margin-bottom: 20px;
}
.dashboard_customer_request img,
.dashboard_albums img,
.dashboard_videos img,
.dashboard_musics img{
	width: 50px;
	height : 50px;
}
.dashboard_customer_request table tbody td,
.dashboard_albums table tbody td,
.dashboard_videos table tbody td,
.dashboard_musics table tbody td{
	text-align: center;
}
.dashboard_customer_request .card .table tbody td:last-child,
.dashboard_albums .card .table tbody td:last-child,
.dashboard_videos .card .table tbody td:last-child,
.dashboard_musics .card .table tbody td:last-child{
	border-top : 1px solid #e9ecef;
	display : table-cell;
} 
.more_click{
	background-color: #ED213A;
    margin-right: 25px;
    color: #fff;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 16px;
}
.eventcodes_csv td{
	padding-top: 10px;
	padding-bottom: 10px;
}
.eventcodes_csv thead tr{
	border-bottom: 1px solid #ddd;
}
.eventcodes_csv thead tr th{
	padding-bottom: 10px;
}
@media (min-width: 992px) and (max-width: 1440px){
  .border-header .artist-name{
      font-size: 15px;
  }
  .border-header .btn{
    font-size: 13px;
    padding: 5px;
  }
  table#artist_list td{
    font-size: 14px;
  }
  .img-padding img {
    height: 70px !important;
    width: 100%;
  }
  #artist_list td {
    padding: 0px !important;
  }
  .album-list {
    font-size: 13.5px;
  }
  .card-body.bg-light.tbalbum {
    font-size: 13.5px;
  }
  .col-padding {
    padding-right: 0px;
    padding-left: 5px; 
  }
  .imgheight, .imgheight img {
    height: 160px !important;
  }
  div.card-body audio {
    position: relative;
    left: -7px;
   }
   .musictitle{
   	  min-height: 60px;
   }
}

@media (max-width: 1024px){
	table#artist_list td {
	    font-size: 12px;
	}
	#artist_list tr td:nth-child(4) {
	    width: 45% !important;
	}
}