<template lang="html">
<vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions" v-on:vdropzone-removed-file='removeThisFile' v-on:vdropzone-success='appendData'></vue-dropzone>
</template>

<script>
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

export default {
  name: 'app',
  components: {
    vueDropzone: vue2Dropzone
  },
  data: function () {
    return {
      dropzoneOptions: {
          url: site_url +'/admin/importAudioFiles',
          thumbnailWidth: 200,
          addRemoveLinks : true,
          headers: { "X-CSRF-TOKEN": document.head.querySelector('meta[name="csrf-token"]').content},
      },
      count:0,
    }
  },
   methods: {
      removeThisFile (file, error, xhr) {
     
	    const data = {
	       filename:  file.name
	    }
	    axios({
	          url: site_url +'/admin/deleteAudioFiles',
	          method: 'POST',
	          data : data,
	          config: 'JSON'
	    })
	    .then(response=>{
	        if(response.status == 200){
	        
	        }
	     })
	     .catch(error=>{
	         console.log(error)
	     });
	},
	appendData (file, response){
	    const data = {
	       filename:  file.name
	    }
	    axios({
	          url: site_url +'/admin/getAudioMeta',
	          method: 'POST',
	          data : data,
	          config: 'JSON'
	    })
	    .then(response=>{
		    var filename = file.name;
			var rest = filename.substring(0, filename.lastIndexOf(".") + 0); 
			var metas =['title','artist','album_artist','album','genre','track','account_id'];
			var htmlcontent ='';
			htmlcontent = '<tr><td><input class="form-control " type="text" name="musics['+this.count+'][title]" value="'+rest+'"><input type="hidden" name="musics['+this.count+'][filename]" value="'+file.upload.filename+'"></td>';
		        if(response.status == 200){
		        var meta_data = response.data.tags;
			        if(typeof meta_data === 'undefined' || !meta_data){
			        	jQuery.each(metas, function (key, value) {
			        		meta_data[value]='';
			        	});
			        } 
		        	htmlcontent +='<td>';
		        	var self = this.count;
		       		jQuery.each(metas, function (key, value) {
		       			htmlcontent +='<div class="input-group mb-3 col-md-6"><div class="input-group-prepend"><span class="input-group-text">'+value+'</span></div>';
		        		htmlcontent +='<input class="form-control " type="text" name="musics['+self+'][meta]['+value+']" value="'+ meta_data[value] +'" placeholder="'+value+'"></div>';
		        	});
		        	htmlcontent +='</td>';
		        }
		    htmlcontent +='<td><input class="form-control " type="checkbox" name="musics['+this.count+'][isnew]" value="1"></td><td><input class="form-control" type="checkbox" name="musics['+this.count+'][istrending]" value="1"></td><td><input class="form-control" type="text" name="musics['+this.count+'][tags]" value="" placeholder=" Enter Comma , separated tags"></td></tr>';
			jQuery('.music_data .add_music_bulk table tbody').append(htmlcontent);
			this.count++;
	     })
	     .catch(error=>{
	         console.log(error)
	     });
		
	}
  }    
}
</script>
<style>
.dropzone {
    min-height: 300px;
}
</style>
