<template lang="html">
<video-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions" v-on:vdropzone-removed-file='removeThisFile' v-on:vdropzone-success='addRowData'></video-dropzone>
</template>

<script>
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

export default {
  name: 'app',
  components: {
    videoDropzone: vue2Dropzone
  },
  data: function () {
    return {
      dropzoneOptions: {
          url: site_url +'/admin/importVideoFiles',
          thumbnailWidth: 200,
          addRemoveLinks : true,
          headers: { "X-CSRF-TOKEN": document.head.querySelector('meta[name="csrf-token"]').content},
      },
      count:0,
    }
  },
   methods: {
      removeThisFile (file, error, xhr) {
     
	    const data = {
	       filename:  file.name
	    }
	    axios({
	          url: site_url +'/admin/deleteVideoFiles',
	          method: 'POST',
	          data : data,
	          config: 'JSON'
	    })
	    .then(response=>{
	        if(response.status == 200){
	        
	        }
	     })
	     .catch(error=>{
	         console.log(error)
	     });
	},
	addRowData (file, response){
	console.log('here');
	console.log(file);
		    const data = {
		       filename:  file.name
		    }
		    var filename = file.name;
		    var rest = filename.substring(0, filename.lastIndexOf(".") + 0); 
			var htmlcontent ='';
			htmlcontent = '<tr><td><input class="form-control " type="text" name="video['+this.count+'][title]" value="'+rest+'"><input type="hidden" name="video['+this.count+'][filename]" value="'+file.upload.filename+'"></td><td><input type="file" class="form-control " name="video['+this.count+'][image]"></td><td><input class="form-control " type="text" name="video['+this.count+'][description]" value=""></td>';
			
		    htmlcontent +='<td><input class="form-control" type="text" name="musics['+this.count+'][release-date]" value="1"></td><td><input class="form-control" type="checkbox" name="musics['+this.count+'][istrending]" value="1"></td><td><input class="form-control" type="text" name="musics['+this.count+'][tags]" value="" placeholder=" Enter Comma , separated tags"></td></tr>';
			jQuery('.music_data .add_music_bulk table tbody').append(htmlcontent);
			this.count++;
	}
  }    
}
</script>
<style>
.dropzone {
    min-height: 300px;
}
</style>
