

@font-face {
	font-family: 'HelveticaNeue';
	src: url('/assets/fonts/HelveticaNeueBold.woff2') format('woff2'),
		url('/assets/fonts/HelveticaNeueBold.woff') format('woff'),
		url('/assets/fonts/HelveticaNeueBold.ttf') format('truetype'),
		url('/assets/fonts/HelveticaNeueBold.svg#HelveticaNeueBold') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueRegular';
	src: url('/assets/fonts/HelveticaNeueRegular.woff2') format('woff2'),
		url('/assets/fonts/HelveticaNeueRegular.woff') format('woff'),
		url('/assets/fonts/HelveticaNeueRegular.ttf') format('truetype'),
		url('/assets/fonts/HelveticaNeueRegular.svg#HelveticaNeueRegular') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueLight';
	src: url('/assets/fonts/HelveticaNeueLight.woff2') format('woff2'),
		url('/assets/fonts/HelveticaNeueLight.woff') format('woff'),
		url('/assets/fonts/HelveticaNeueLight.ttf') format('truetype'),
		url('/assets/fonts/HelveticaNeueLight.svg#HelveticaNeueLight') format('svg');
	font-weight: 100;
	font-style: normal;
}

.header_logo{
	background-color: #ED213A;
    padding: 20px;
}
.header_logo img{
    width: 156px;
}
.row.share_url{
	width: 90%;
	margin: 0 auto;
	margin-top: 30px;
}
.row.share_url .column:last-child{
	padding-left: 10px;
}
.row.share_url .column .name .label{
	margin-bottom: 0px;
    font-weight: 600;
}
.row.share_url .column .description .label{
	margin-bottom: 0px;
    font-weight: 600;
}

.share_url h2 {
	font-family: 'HelveticaNeue';
	display: block;
    width: 100%;
    font-size: 30px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}
.common-inner-wrapper {
	margin: 60px 0 70px;
	width: 100%;
    float: left;
}
.common-inner-wrapper .right-content{
    margin-top: 70px;
}
.right-content .name h1{
	font-family: 'HelveticaNeue';
	font-size: 30px;
	font-weight: 800;
	color: gray;
	line-height: 30px;
	margin-bottom: 15px;
}
.common-inner-wrapper .img_box img {
	width: 100%;
}
.right-content p {
	font-size: 22px;
	font-weight: 700;
	line-height: normal;
	font-family: 'HelveticaNeueLight';
}
.footer-common-app-link {
	width: 100%;
    float: left;
    text-align: center;
    margin: 60px 0;
}
.footer-common-app-link a img{
	width: 170px;
	margin-right: 10px;
}
.footer-common-app-link p{
	font-size: 16px;
	font-weight: 800;
	margin-bottom: 20px;
	font-family: 'HelveticaNeue';
}
.left-content {
	margin-top: 30px;
}
.news_wrapper .right-content h1{
	margin-bottom: 35px;
}


.footer {
	width: 100%;
    float: left;
    background: #ed213a;
    padding: 60px 0 0px;
}
.footer .footer-right img {
	height: 300px;
    position: relative;
    margin-top: -175px;
}
.footer .footer-left h4{
	color: #fff;
    font-size: 26px
}
.playlist_wrapper .footer-common-app-link a img,
.music_wrapper .footer-common-app-link a img{
	width: 160px;
}
.playlist_wrapper .footer-common-app-link p,
.music_wrapper  .footer-common-app-link p{
	text-align: left;
	font-family: 'HelveticaNeue';
}
.playlist_wrapper a.app-icon,
.music_wrapper  a.app-icon{
	display: inline-block;
    float: left;
}
.playlist_wrapper .common-inner-wrapper{
	padding-bottom: 150px;
}
.music_wrapper .common-inner-wrapper{
	padding-bottom: 215px;
}
.playlist_wrapper .footer-common-app-link,
.music_wrapper  .footer-common-app-link{
	position: absolute;
    bottom: 0;
    margin-bottom: 0;
}
.music_wrapper p.label {
	font-family: 'HelveticaNeue';
    font-size: 30px;
    font-weight: 800;
    color: gray;
    line-height: 30px;
    margin-bottom: 15px;
    padding: 0;
}
.music_wrapper .right-content .name h1{
	color: #000;
	margin-top: 10px;
	font-size: 22px;
	font-family: 'HelveticaNeueLight';
}
.music_wrapper .artist-label {
	margin-top: 30px;
    display: block;
    text-align: left;
}

.music_wrapper .img_box {
	width: 100%;
    height: 300px;
}
.music_wrapper .img_box img{
    height: 100%;
    object-fit: cover;
}
.footer-left strong{
	font-family: 'HelveticaNeue';	
}

.footer-bottom {
	width: 100%;
    float: left;
	background: #000;
	padding: 60px 0;
}
.footer-bottom {
	color: #fff;
	font-family: 'HelveticaNeueRegular';
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 16px;
}



@media only screen and (max-width: 40em) { 

	.common-inner-wrapper .right-content {
		margin-top: 30px;
	}
	.footer-common-app-link {
		margin: 30px 0;
	}
	.footer-common-app-link a {
		display: block;
		margin-bottom: 15px;
	}
	.common-inner-wrapper {
		margin: 30px 0 20px;
	}
	.footer-left {
		text-align: center;
		margin-bottom: 30px;
	}
	.footer-right img{
		text-align: center;
		margin: 0 auto !important;
		display: table;
	}
	.footer {
		padding: 40px 0 0;
	}
	.playlist_wrapper .footer-common-app-link,
	.music_wrapper  .footer-common-app-link {
		position: relative;
	}
	.footer-bottom {
		text-align: center;
	}
	.music_wrapper .common-inner-wrapper,
	.playlist_wrapper .common-inner-wrapper {
		padding-bottom: 0px;
	}
	.news_wrapper .right-content h1 {
		line-height: normal;	
	}
	.playlist_wrapper .footer-common-app-link p, .music_wrapper .footer-common-app-link p {
		text-align: center;	
	}
	.share_url h2, .right-content, .music_wrapper p.label, .header_logo {
		text-align: center;	
	}
	.playlist_wrapper a.app-icon, .music_wrapper a.app-icon {
		float: none;
	}


	
}

@media only screen and  (max-width: 768px) { 
	.footer .footer-right img {
		margin: 60px auto 0 !important;
		display: table;
		text-align: center
	}
	.footer-right, .footer-left, .footer-bottom {
		text-align: center;
	}
	    
}


@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
	.playlist_wrapper .footer-common-app-link a img,
	.music_wrapper .footer-common-app-link a img{
		width: 130px;
	}
	.playlist_wrapper .footer-common-app-link,
	.music_wrapper  .footer-common-app-link {
		position: relative;
	}
}





@media only screen and (max-width: 1024px) {
	.row.share_url .column{
		width: 100%;
	}
	.row.share_url .img_box{
		text-align: center;
		margin-bottom: 20px;
	}
	.row.share_url .img_box img{
		width: 100%;
	}
	.row.share_url iframe{
		width: 100%;
    	height: 200px;
	}
	
}