/* This css file is to over write bootstarp css
--------------------------------------------------------- /
* Theme Name: Sufee-Admin Admin Template
* Theme URI: http://demos.jeweltheme.com/Sufee-Admin/
* Author: jewel_theme
* Author URI: http://themeforest.net/user/jewel_theme/portfolio
* Description:
* Version: 1.0.0
* License: GNU General Public License v2 or later
* License URI: http://www.gnu.org/licenses/gpl-2.0.html
* Tags: html, themplate, Sufee-Admin
--------------------------------------------------------- */

.navbar {
  background: transparent;
  border-radius: 0;
  border: none;
  display: block;
  margin: 0;
  margin-bottom: 100px;
  padding: 0; }
  
.sidebar-wrapper .navbar-default .navbar-nav .nav-item .nav-link:not(.btn) { color:#fff}
.sidebar-wrapper .navbar .navbar-nav .dropdown-toggle::after {margin-top:0px;}
.sidebar-wrapper .navbar-nav .nav-item.show .dropdown-menu,.sidebar-wrapper .dropdown.show .dropdown-menu {
	width:100%; 
	background:#fc727a; 
	border-radius: 0px;
	overflow: hidden;
	max-height: 1000px !important;
	-webkit-transition: max-height .3s ease-in-out;
	transition: max-height .3s ease-in-out;
}
.sidebar-wrapper .navbar-default .navbar-nav .show .nav-link,.sidebar-wrapper .navbar-default .navbar-nav .show .nav-link:hover,.sidebar-wrapper .navbar-default .navbar-nav .show .nav-link:focus {
    background-color: transparent;
    color: #fff;
}
.sidebar .sidebar-wrapper .nav li .nav-link i, body > .sidebar-wrapper .navbar-collapse .nav li .nav-link i {font-size: 16px;line-height: 30px;}
.sidebar-wrapper .navbar-default .navbar-nav .show .nav-link:hover {
	color: #FFFFFF;
	opacity: 1;
	background: rgba(255, 255, 255, 0.23);
}

.main-panel .breadcrumbs {
    background-color: #fff;
    display: inline-block;
    margin-top: 0;
    padding: 0 5px;
    width: 100%;
}
.main-panel .page-header {
    min-height: 50px;
    margin: 0px;
    padding: 0px 15px;
    background: #ffffff;
    border-bottom: 0px;
}
.main-panel .page-header h1 {
    font-size: 18px;
    padding: 15px 0;
    margin:0px;
}
#image.form-control{border: 0px;padding: 0px;}
#video.form-control{border: 0px;padding: 0px;}
img.icons{margin-right:10px;}
.sidebar .logo, body > .navbar-collapse .logo {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: #ed213a;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.8);
}
.navbar-top{
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: #fff;
    box-shadow: 3px 0px 8px rgba(0,0,0,0.8);
    position: fixed;
	width: calc(100% - 260px);
	z-index: 999;
}
.navbar-top .navbar-brand {line-height: 49px;}
.btn-outline-light{border-color: #fff;}
.sidebar[data-color="red"]::after, body > .navbar-collapse[data-color="red"]::after {
	background: #f73c47;
	background: -moz-linear-gradient(top, #f73c47 0%, #d0191b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f73c47), color-stop(100%, #d0191b));
	background: -webkit-linear-gradient(top, #f73c47 0%, #d0191b 100%);
	background: -o-linear-gradient(top, #f73c47 0%, #d0191b 100%);
	background: -ms-linear-gradient(top, #f73c47 0%, #d0191b 100%);
	background: linear-gradient(to bottom, #f73c47 0%, #d0191b 100%);
	background-size: auto auto;
	background-size: 150% 150%;
}
.navbar .navbar-nav .nav-item{margin-left:20px;}
.navbar .navbar-nav .nav-item i{color:#888888}
.sidebar .logo .simple-text, body > .navbar-collapse .logo .simple-text {text-align:left;}
#users img {
    width: 100%;
    height: 170px;
}






 /* .navbar .navbar-header {
    float: none;
    text-align: center;
    width: 100%; }
  .navbar .navbar-brand {
    border-bottom: 1px solid #4e4e52;
    color: #f1f2f7 !important;
    font-family: 'Open Sans';
    font-size: 22px;
    float: none;
    line-height: 50px;
    margin: 0;
    text-align: left;
    text-transform: capitalize;
    display: block;
    min-height: 69px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    .navbar .navbar-brand span {
      font-weight: 600; }
    .navbar .navbar-brand img {
      max-width: 160px; }
    .navbar .navbar-brand.hidden {
      display: none; }
  .navbar .menu-title {
    border-bottom: 1px solid #4e4e52;
    color: #9496a1;
    clear: both;
    display: block;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    padding: 15px 0 0 0;
    text-transform: uppercase;
    width: 100%; }
  .navbar .navbar-nav {
    float: none;
    position: relative; }
    .navbar .navbar-nav li {
      width: 100%; }
      .navbar .navbar-nav li.active .menu-icon, .navbar .navbar-nav li:hover .toggle_nav_button:before,
      .navbar .navbar-nav li .toggle_nav_button.nav-open:before {
        color: #fff !important; }
      .navbar .navbar-nav li > a {
        background: none !important;
        color: #c8c9ce !important;
        display: inline-block;
        font-family: 'Open Sans';
        font-size: 14px;
        line-height: 30px;
        padding: 10px 0;
        position: relative;
        width: 100%; }
        .navbar .navbar-nav li > a:hover, .navbar .navbar-nav li > a:hover .menu-icon {
          color: #fff !important; }
        .navbar .navbar-nav li > a .menu-icon {
          color: #8b939b;
          float: left;
          margin-top: 8px;
          width: 55px;
          text-align: left;
          z-index: 9; }
        .navbar .navbar-nav li > a .menu-title-text {
          font-size: 14px; }
        .navbar .navbar-nav li > a .badge {
          border-radius: 0;
          font-family: 'Open Sans';
          font-weight: 600;
          float: right;
          margin: 6px 0 0 0;
          padding: 0.4em 0.5em; }
      .navbar .navbar-nav li.menu-item-has-children {
        position: relative; }
        .navbar .navbar-nav li.menu-item-has-children a {
          line-height: 30px; }
          .navbar .navbar-nav li.menu-item-has-children a:before {
            content: "\f105";
            color: #c8c9ce;
            font-family: 'Fontawesome';
            font-size: 16px;
            position: absolute;
            top: 10px;
            right: 0;
            text-align: right;
            -webkit-transition: all .25s ease;
            -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
            -o-transition: all .25s ease;
            transition: all .25s ease; }
          .navbar .navbar-nav li.menu-item-has-children a:hover:before {
            color: #fff; }
        .navbar .navbar-nav li.menu-item-has-children .sub-menu {
          background: #272c33;
          border: none;
          box-shadow: none;
          overflow-y: hidden;
          padding: 0 0 0 35px; }
          .navbar .navbar-nav li.menu-item-has-children .sub-menu li {
            position: relative; }
          .navbar .navbar-nav li.menu-item-has-children .sub-menu i {
            color: #c8c9ce;
            float: left;
            padding: 0;
            position: absolute;
            left: 0;
            font-size: 14px;
            top: 9px; }
          .navbar .navbar-nav li.menu-item-has-children .sub-menu a {
            padding: 2px 0 2px 30px; }
            .navbar .navbar-nav li.menu-item-has-children .sub-menu a:before {
              content: '';
              display: none; }
            .navbar .navbar-nav li.menu-item-has-children .sub-menu a .menu-icon {
              top: 13px;
              text-align: left;
              width: 25px; }
        .navbar .navbar-nav li.menu-item-has-children.show a:before {
          content: "\f107"; }
        .navbar .navbar-nav li.menu-item-has-children.show .sub-menu {
          max-height: 1000px;
          opacity: 1;
          position: static !important; }

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:hover {
  color: #d7d9e3 !important; }

.navbar-nav li span.count {
  background: #a9d86e;
  border-radius: 50%;
  color: #fff;
  font-family: 'Open Sans';
  font-size: 9px;
  font-weight: 700;
  float: right;
  height: 20px;
  width: 20px;
  line-height: 20px;
  margin-right: 15px;
  text-align: center; }

body.open .navbar .navbar-brand.hidden {
  display: block; }
  
  */

